<ngx-boolean-input-editable name="{{ title }}"></ngx-boolean-input-editable>
<ngx-boolean-input-editable name="just setting the attribute" editable></ngx-boolean-input-editable>
<ngx-boolean-input-editable name="binding the attribute to false" [editable]="false"></ngx-boolean-input-editable>
<ngx-boolean-input-editable name="setting the attribute to a string" editable="false"></ngx-boolean-input-editable>
<ngx-boolean-input-editable name="setting the attribute to a string - true" editable="true"></ngx-boolean-input-editable>
<ngx-boolean-input-editable name="binding the attribute to true" [editable]="true"></ngx-boolean-input-editable>